.noturno {
  background: linear-gradient(
    140deg,
    #000000,
    #000011,
    #121317,
    #333333,
    #2e2e2e,
    #4d4d4d
  );
  color: #fff;
}
.textomaior {
  font-size: 150%;
}
.noturno .animais-lista::-webkit-scrollbar-thumb {
  background-color: #fb5;
  border-left: 4px solid
    linear-gradient(
      140deg,
      #000000,
      #000011,
      #121317,
      #333333,
      #2e2e2e,
      #4d4d4d
    );
  border-right: 4px solid
    linear-gradient(
      140deg,
      #000000,
      #000011,
      #121317,
      #333333,
      #2e2e2e,
      #4d4d4d
    );
}

.noturno .pix {
  color: #000000;
}
.noturno .btc-preco {
  color: #000000;
}
.noturno .copy {
  color: #000000;
}
.noturno .modal {
  color: #000000;
}
